{{- define "partials/inline/taxonomy-walk.html" }}
	{{ $page := .page }}

	{{- range $page.Pages }}
		{{ $subPage := . }}
		<li>
			<a href="{{ $subPage.Permalink}}">
				{{ $subPage.Name }}
			</a>
			{{ if gt ($subPage.Pages | len) 0 }}
				<ul>
					{{- partial "inline/taxonomy-walk.html" (dict "page" $subPage ) }}
				</ul>
			{{ end }}
		</li>
	{{- end }}
{{- end }}

{{ if eq .Params.documentation true }}
	<ul>
		{{- partial "inline/taxonomy-walk.html" (dict "page" . ) }}
	</ul>
{{- end }}


{{- range .Ancestors.Reverse }}
	{{ if eq .Params.documentation true }}
		<ul>
			{{- partial "inline/taxonomy-walk.html" (dict "page" . ) }}
		</ul>
	{{- end }}
{{- end }}
