<!DOCTYPE html>
{{ $htmlClassList := "" }}

{{ $disableDarkMode := .Site.Params.disableDarkMode | default false }}
{{ if $disableDarkMode }}
	{{ $htmlClassList = printf "%s disable-dark-mode" $htmlClassList }}
{{ end }}

{{ $disableLightMode := .Site.Params.disableLightMode | default false }}
{{ if $disableLightMode }}
	{{ $htmlClassList = printf "%s disable-light-mode" $htmlClassList }}
{{ end }}

<html lang="{{ site.LanguageCode }}" class="{{ $htmlClassList}}">
	{{- partial "head.html" . -}}
	<body>
		<div id="elementary-page">
			<div id="elementary-header">
				<div class="elementary-container">
					{{- partial "header.html" . -}}
				</div>
			</div>
			<div id="elementary-body">
				<div class="elementary-container">

					<div id="elementary-breadcrumbs">
						{{- partial "components/breadcrumbs.html" . -}}
					</div>
					<div id="elementary-article">
						{{- block "main" . }}{{- end }}
					</div>
				</div>
			</div>
			<div id="elementary-footer">
				<div class="elementary-container">
					{{- partial "footer.html" . -}}
				</div>
			</div>
		</div>
	</body>
</html>
