:root {
	--kpds-src-color-light-accent-primary: #ff0099;
	--kpds-src-color-dark-accent-primary: #ff0099;
	--kpds-src-color-light-foreground-accent: white;
	--kpds-src-color-dark-foreground-accent: white;
}
