<meta charset="utf-8">
<meta name="viewport" content="width=device-width,minimum-scale=1">

<title>{{ .Site.Title }}</title>
<link rel="canonical" href="{{ .Permalink }}">
<meta name="description" content="{{ .Summary }}">

{{ $appleTouchIcon := resources.Get "./apple-touch-icon.png" }}
{{ $appleTouchIconFingerprinted := $appleTouchIcon | resources.Fingerprint }}
<link rel="apple-touch-icon" href="{{ $appleTouchIconFingerprinted.Permalink }}">


{{ $style := resources.Get "./_elementary.css" }}
{{ $customStyle := resources.Get "./elementary.css" }}
{{ if ne $customStyle nil }}
	{{ $style = slice $style $customStyle | resources.Concat "_elementary.css" }}
{{ end }}
{{ $styleFingerprinted := $style | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $styleFingerprinted.Permalink }}" integrity="{{ $styleFingerprinted.Data.Integrity }}">

{{ $script := resources.Get "./_elementary.js" }}
{{ $customScript := resources.Get "./elementary.js" }}
{{ if ne $customScript nil }}
	{{ $script = slice $script $customScript | resources.Concat "_elementary.js" }}
{{ end }}
{{ $scriptFingerprinted := $script | resources.Fingerprint }}
<script src="{{ $scriptFingerprinted.Permalink }}" integrity="{{ $scriptFingerprinted.Data.Integrity }}"></script>
