@import url('./prism.scss');

.elementary-container {
	max-width: 768px;
	margin: auto;
	padding: 0 1rem;
}

#elementary-breadcrumbs {
	ul {
		&:after {
			content: '';
			clear: both;
			display: block;
		}
		li {
			float: left;

			&:not(:last-child):after {
				content: '→';
				padding: 0rem 0.5rem;
			}
		}
	}
}

ul.pagination {
	display: flex;
	list-style: none;
	gap: 1rem;
	justify-content: center;
	li {
		a {
			padding: 1rem 0.5rem;
		}
	}
}

#elementary-header {
	--image-height: 5rem;
	--banner-height: 5rem;
	height: calc(var(--banner-height) + calc(var(--image-height) / 2));
	#elementary-banner {
		background: url('/banner-tile.png'), var(--kpds-color-accent-primary);
		background-size: contain;
		height: var(--banner-height);

		#elementary-banner-title {
			display: block;
			line-height: var(--banner-height);
			margin-left: calc(var(--image-height) + 1rem);
			font-weight: bold;
			color: var(--kpds-color-foreground-accent);
			font-size: 1.5rem;
			font-family: var(--kpds-src-title-font-family);
		}

		#elementary-banner-image {
			overflow: hidden;
			position: absolute;
			top: calc(var(--banner-height) - calc(var(--image-height) / 2));
			border-radius: 100%;
			border: 0.5rem solid var(--kpds-color-background-primary);
			background: var(--kpds-color-background-primary);
			height: var(--image-height);
			width: var(--image-height);
			img {
				height: 100%;
				width: 100%;
			}
		}
	}

	#elementary-menu {
		nav {
			margin-left: var(--image-height);

			ul {
				&:after {
					clear: both;
					content: '';
					display: block;
				}

				li {
					display: inline-block;
					a {
						display: block;
						font-weight: bold;
						padding: 0.5rem 1rem;
						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
		}
	}
}

#elementary-body {
	.elementary-container {
		padding: 16px;

		display: flex;
		flex-wrap: wrap;
		gap: 1rem;

		#elementary-breadcrumbs {
			flex: 1 0 100%;
		}

		#elementary-docs-menu {
			flex: 0 0 256px;
		}

		#elementary-article {
			flex-grow: 1;

			#elementary-list {
				margin-top: 1rem;
			}
		}
	}
}

.elementary-list {
	.elementary-list-item {
		padding: 1rem;
	}
}

#elementary-docs-menu {
	border: 1px solid var(--kpds-border-tertiary);

	ul {
		&:not(:first-child) {
			margin-left: 1rem;
		}

		li {
			a {
				border-bottom: 1px solid var(--kpds-border-tertiary);
				display: block;
				padding: 1rem;
			}
		}

		ul {
			li {
				&:last-child {
					a {
						border-bottom: none;
					}
				}
			}

			a {
				border-left: 1px solid var(--kpds-border-tertiary);
			}
		}
	}
}

#elementary-footer {
	.elementary-container {
		padding: 16px;
		text-align: center;
		border-top: var(--kpds-border-tertiary);
		p {
			opacity: 0.5;
			font-size: 0.75rem;

			&:not(:last-child) {
				margin-bottom: 1rem;
			}
		}
	}
}
