@import url('../node_modules/@kyberbits/prism/prism.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');

#elementary-page {
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	.elementary-container {
		width: 920px;
		max-width: 100%;
		margin: auto;
		padding: 1rem;
	}

	#elementary-header {
		background: var(--k-prism-color-background-accent);
		background-size: contain;

		.elementary-container {
			display: flex;
			gap: 1rem;
			align-items: center;
			flex-direction: row-reverse;
			justify-content: space-between;

			#elementary-banner-image {
				img {
					height: 4rem;
					width: 4rem;
					display: block;
				}
			}

			#elementary-banner-text {
				display: flex;
				gap: 1rem;
				flex-direction: column;
				#elementary-banner-title {
					font-weight: var(--k-prism-font-title-weight);
					font-size: 2rem;
					font-family: var(--k-prism-font-title-family);
					a {
						color: var(--k-prism-color-foreground-accent);
					}
				}

				nav {
					margin-left: var(--image-height);

					ul {
						display: flex;
						align-items: center;

						gap: 1rem;
						li {
							display: inline-block;
							a {
								color: var(--k-prism-color-foreground-accent);

								display: block;
								font-weight: bold;
								&:hover {
									text-decoration: underline;
								}
							}
						}
					}
				}
			}
		}
	}

	#elementary-body {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		.elementary-container {
			background: var(--k-prism-color-background-secondary);
			display: flex;
			border-left: 1px solid var(--k-prism-color-foreground-secondary);
			border-right: 1px solid var(--k-prism-color-foreground-secondary);
			flex-grow: 1;
			flex-direction: column;
			gap: 1rem;

			@media (max-width: 920px) {
				& {
					border: none;
				}
			}

			#elementary-article {
				display: flex;
				flex-grow: 1;
				gap: 1rem;

				aside {
					border-top: 1px solid var(--k-prism-color-foreground-secondary);
					border-right: 1px solid var(--k-prism-color-foreground-secondary);
					width: 256px;
					padding: 1rem;
					padding-left: 0;
					flex-shrink: 0;

					ul {
						ul {
							margin-left: 1.5rem;
							list-style: circle;
						}

						li {
							a {
								display: block;
								padding: 0.5rem 0;
							}
						}
					}
				}

				article {
					flex-grow: 1;
					overflow-x: hidden;
				}

				@media (max-width: 768px) {
					& {
						flex-direction: column;
					}

					aside {
						width: auto;
						border: none;
						padding: 0.5rem 1rem;
						border: 1px solid var(--k-prism-color-foreground-secondary);
					}
				}
			}
		}
	}

	#elementary-footer {
		text-align: center;
		border-top: 1px solid var(--k-prism-color-foreground-secondary);
		.elementary-container {
			padding: 2rem;
			p {
				opacity: 0.75;
				font-size: 0.75rem;

				&:not(:last-child) {
					margin-bottom: 1rem;
				}
			}
		}
	}
}

// Flag External Links
a[href*="//"]
{
	&::after {
		content: '\f08e';
		font-family: 'Font Awesome 6 Free';
		font-weight: 900;
		padding-left: 0.25rem;
		vertical-align: middle;
		font-size: 0.75rem;
	}
}
a[href*='mailto:'] {
	&::after {
		content: '\f0e0';
		font-family: 'Font Awesome 6 Free';
		font-weight: 500;
		padding-left: 0.25rem;
		vertical-align: middle;
		font-size: 0.75rem;
	}
}

// Breadcrumbs
#elementary-breadcrumbs {
	ul {
		height: 1rem;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
	}
	&:after {
		content: '';
		clear: both;
		display: block;
	}
	li {
		&:not(:last-child):after {
			content: '→';
			padding: 0rem 0.5rem;
		}
	}
}

// Pagination
ul.pagination {
	display: flex;
	margin-top: 1rem;
	list-style: none;
	gap: 1rem;
	justify-content: center;
	li {
		a {
			font-family: var(--k-prism-font-title-family);
			padding: 1rem 0.5rem;
		}

		&.disabled,
		&.active {
			a {
				color: var(--k-prism-color-foreground-secondary);
				cursor: not-allowed;
				&:hover {
					text-decoration: none;
				}
			}
		}

		&.active {
			a {
				color: var(--k-prism-color-foreground-primary);
			}
		}
	}
}

#elementary-list {
	.elementary-list-item {
		&:not(:last-child) {
			margin-bottom: 1rem;
		}

		padding: 1rem;
		display: block;
		border: 1px solid var(--k-prism-color-foreground-secondary);

		a {
			font-family: var(--k-prism-font-title-family);
		}
	}
}

.elementary-table-wrapper {
	display: grid;
	align-items: start;
	gap: 1rem;
	grid-template-columns: repeat(1, minmax(0, 1fr));
	@media (min-width: 768px) {
		& {
			grid-template-columns: repeat(3, minmax(0, 1fr));
		}
	}
}
